<%- include ('partials/header'); %>
<body>
    <h2><center>Blog Posts!</center></h2><br>
    <section id="posts">
    <% for(let i = 0; i < posts.length; i++){%>
      <h4><center><u><%=posts[i].title%></u></center></h4>
      <h5><center>By: <%=posts[i].name%></center></h5>
      <center><img src="<%=posts[i].photo%>" height=150><br></center>
      <h6><center><%=posts[i].type%></center></h6>
      <h6><center><%=posts[i].ingredients%></center></h6>
      <p><center><%=posts[i].instructions%></center></p>
    <%}%>
</section>
  </body>
